@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
.fuente {
  font-family: "open Sans"; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Montserrat;
  list-style-position: inside; }

a {
  color: black;
  text-decoration: none; }

.header {
  width: 100%;
  background: #1a1919; }
  .header .header__logo {
    padding-top: 20px;
    width: 30%;
    display: block;
    margin: auto; }
  .header h1 {
    font-size: 1.5em;
    padding: 10px 20px;
    color: #70d26b;
    text-align: center;
    text-shadow: 1px 1px 3px #70d26b; }
  .header .header__menu {
    background: #7d694f;
    background: linear-gradient(180deg, #ffd7a2 0%, #7d694f 100%);
    margin: auto; }
    .header .header__menu li {
      padding: 5px 10px;
      transition: background-color 0.7s; }
      .header .header__menu li:hover {
        background-color: rgba(148, 147, 148, 0.397);
        border-radius: 5px; }
    .header .header__menu a {
      text-decoration: none;
      color: #1b4e10;
      text-shadow: 1px 1px 3px lightblue;
      font-weight: bold;
      padding: 10px;
      font-family: "open sans";
      text-transform: uppercase; }
      .header .header__menu a:hover {
        color: #1b4e10; }
    .header .header__menu .header__dropdown {
      background: #7d694f;
      background: linear-gradient(180deg, #ffd7a2 0%, #7d694f 100%); }
      .header .header__menu .header__dropdown li a:hover {
        background-color: initial;
        border-radius: 5px; }

@media only screen and (max-width: 992px) {
  .header .header__logo {
    width: 50%; }
  .header h1 {
    padding: 10px 20px; } }

@media only screen and (max-width: 576px) {
  .header .header__logo {
    width: 65%; }
  .header h1 {
    font-size: 1em;
    padding: 10px 20px; } }

.mainHome h2 {
  font-size: 1.3em;
  background: black;
  color: white; }

.mainHome .mainHome__h3 {
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #a52a2a;
  color: #a52a2a;
  padding-bottom: 30px; }

.mainHome__txt {
  color: #3a3939;
  line-height: 2rem;
  letter-spacing: 1PX; }

.mainHome__destacadas {
  padding-bottom: 1em; }
  .mainHome__destacadas h3 {
    color: #a52a2a;
    text-align: center;
    font-size: 2em; }

.mainHome__divDestacadas div:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  transition: transform 1s; }

/*--------------------GIRD HOME----------------------*/
/*---------------------------------------------------*/
.mainHome__grid {
  display: grid;
  grid-template-areas: "dos dos  tres tres" "cuatro cuatro cinco cinco" "seis seis siete siete";
  grid-template-rows: repeat(3, minmax(500px, max-content));
  grid-row-gap: 100px;
  justify-items: center;
  align-items: center; }

.mainHome__silla {
  grid-area: dos;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .mainHome__silla p {
    width: 80vh;
    padding-left: 40px; }
  .mainHome__silla h3 {
    padding-left: 40px; }

.mainHome__video {
  grid-area: tres; }
  .mainHome__video video {
    height: 400px; }

.mainHome__pechera {
  grid-area: cinco;
  background: #ffd7a2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; }
  .mainHome__pechera p {
    text-align: right;
    width: 80%;
    padding-right: 40px; }
  .mainHome__pechera h3 {
    padding-top: 1em;
    padding-right: 40px; }

.mainHome__imgPechera {
  grid-area: cuatro;
  background: #ffd7a2;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%; }

.mainHome__futuros {
  grid-area: seis;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .mainHome__futuros p {
    width: 80vh;
    padding-left: 40px; }
  .mainHome__futuros h3 {
    padding-left: 40px; }

.mainHome__imgFuturos {
  background-color: burlywood;
  grid-area: siete; }
  .mainHome__imgFuturos img {
    height: 300px;
    display: block; }

.mainHome_frase {
  grid-area: ocho;
  padding: 30px;
  font-style: italic;
  font-size: 1.2em;
  text-align: center;
  line-height: 2em; }

/*--------------------------- Media query ---------------------------*/
@media only screen and (max-width: 992px) {
  body {
    background-color: wheat; }
  .mainHome__grid {
    display: grid;
    grid-template-areas: "dos" "tres" "cuatro"  "cinco"  "seis"  "siete";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(500px, max-content));
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center; }
  .mainHome__h3 {
    padding: 0;
    display: block;
    margin: auto; }
  .mainHome__silla p {
    padding: 1em;
    width: 550px;
    text-align: center; }
  .mainHome__imgPechera {
    grid-area: cinco;
    background: #ffd7a2;
    height: 500px; }
    .mainHome__imgPechera img {
      height: initial;
      width: 300px; }
  .mainHome__pechera {
    grid-area: cuatro;
    align-items: center;
    justify-content: center; }
    .mainHome__pechera p {
      padding: 1em;
      width: 550px;
      text-align: center; }
  .mainHome__futuros {
    padding-top: 2em; }
    .mainHome__futuros p {
      padding: 1em;
      width: 550px;
      text-align: center; } }

@media only screen and (max-width: 576px) {
  .mainHome h2 {
    font-size: 1em; }
  .mainHome__pechera p {
    padding: 1em;
    width: 300px;
    text-align: center; }
  .mainHome__futuros p {
    margin: auto;
    padding: 1em;
    width: 300px;
    text-align: center; }
  .mainHome__silla p {
    padding: 1em;
    width: 300px;
    text-align: center; }
  .mainHome__h3 {
    padding: 1em;
    margin: auto;
    text-align: center; } }

.mainNosotros h3 {
  color: #a52a2a;
  padding: 20px;
  font-size: 2em;
  text-transform: uppercase; }

.mainNosotros__section1 {
  background-image: url(../imagenes/solitario.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  min-height: 500px; }
  .mainNosotros__section1 p {
    font-size: 1.3em;
    line-height: 1em;
    color: white;
    text-shadow: 2px 2px 2px gray; }

.mainNosotros__section3 {
  background-image: url(../imagenes/solitario2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  min-height: 500px; }
  .mainNosotros__section3 p {
    font-size: 1.3em;
    line-height: 1em;
    text-shadow: 2px 2px 4px white;
    background: white;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.769345) 0%, rgba(255, 255, 255, 0) 100%); }

.mainProd {
  background: white;
  background: linear-gradient(180deg, white 0%, #faf0e3 50%, white 100%, #f7e6cf 100%); }
  .mainProd h3 {
    padding: 20px;
    color: #a52a2a; }
  .mainProd .mainProd__section {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .mainProd .mainProd__section .mainProd__silla, .mainProd .mainProd__section .mainProd__pechera {
      margin-top: 2em;
      padding-top: 1em;
      position: relative;
      width: 300px;
      height: 400px;
      background: #303030;
      overflow: hidden;
      border-radius: 20px;
      box-shadow: 1px 1px 30px grey; }
      .mainProd .mainProd__section .mainProd__silla::before, .mainProd .mainProd__section .mainProd__pechera::before {
        content: "";
        background-color: white;
        position: absolute;
        transition: 1s;
        top: -70%;
        left: -10%;
        width: 120%;
        height: 120%;
        transform: skewY(-20deg); }
      .mainProd .mainProd__section .mainProd__silla:hover .boton, .mainProd .mainProd__section .mainProd__pechera:hover .boton {
        top: 0;
        transition: 1s; }
      .mainProd .mainProd__section .mainProd__silla:hover .mainProd__imgbox, .mainProd .mainProd__section .mainProd__pechera:hover .mainProd__imgbox {
        width: 100%;
        height: 50%;
        transition: 1s; }
      .mainProd .mainProd__section .mainProd__silla:hover::before, .mainProd .mainProd__section .mainProd__pechera:hover::before {
        transform: skewY(30deg);
        top: -80%; }
    .mainProd .mainProd__section .mainProd__imgbox {
      width: 100%;
      height: 60%;
      position: relative; }
    .mainProd .mainProd__section .mainProd__info {
      z-index: 20;
      position: relative;
      display: flex;
      flex-direction: column;
      color: white;
      align-items: center;
      text-align: center;
      font-weight: bold; }
      .mainProd .mainProd__section .mainProd__info a {
        border-radius: 30px;
        padding: 10px 30px;
        background-color: #e04040;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        text-shadow: 1px 1px 4px black;
        margin: auto;
        position: relative;
        top: 200px; }

.mainProd__silla .mainProd__imgbox .div1, .mainProd .mainProd__section .mainProd__pechera .mainProd__imgbox .div1 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../imagenes/silla1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.mainProd__silla .mainProd__imgbox .div2, .mainProd .mainProd__section .mainProd__pechera .mainProd__imgbox .div2 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../imagenes/silla2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.mainProd__silla .mainProd__imgbox .div3, .mainProd .mainProd__section .mainProd__pechera .mainProd__imgbox .div3 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../imagenes/silla3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.mainProd__silla .mainProd__imgbox .div4, .mainProd .mainProd__section .mainProd__pechera .mainProd__imgbox .div4 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../imagenes/silla4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.mainProd__silla .mainProd__imgbox .div5, .mainProd .mainProd__section .mainProd__pechera .mainProd__imgbox .div5 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../imagenes/silla5.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.mainProd__silla .mainProd__imgbox .div6, .mainProd .mainProd__section .mainProd__pechera .mainProd__imgbox .div6 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../imagenes/silla6.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.mainProd__silla .mainProd__imgbox .div7, .mainProd .mainProd__section .mainProd__pechera .mainProd__imgbox .div7 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../imagenes/silla7.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.mainProd__silla .mainProd__imgbox .div8, .mainProd .mainProd__section .mainProd__pechera .mainProd__imgbox .div8 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../imagenes/silla8.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.mainProd__silla .mainProd__imgbox .div9, .mainProd .mainProd__section .mainProd__pechera .mainProd__imgbox .div9 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../imagenes/silla9.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.mainProd__silla .mainProd__imgbox .div10, .mainProd .mainProd__section .mainProd__pechera .mainProd__imgbox .div10 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../imagenes/silla10.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.mainProd__imgbox .divP1 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../imagenes/pechera1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.mainProd__imgbox .divP2 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../imagenes/pechera2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.mainProd__imgbox .divP3 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../imagenes/pechera3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.mainProd__imgbox .divP4 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../imagenes/pechera4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.mainOfertas__h3 {
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #a52a2a;
  color: #a52a2a;
  padding-bottom: 30px; }

.mainOfertas__grilla {
  margin: 0 40px;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "publi publi publi" "productos descrip descrip" "publi2 publi2 publi2" "productos2 descrip2 descrip2";
  justify-content: center;
  align-items: end;
  box-sizing: border-box;
  background: white;
  background: linear-gradient(90deg, white 1%, #f7e6cf 53%, white 100%); }

.mainOfertas__txtFlyer {
  font-size: 1.5em;
  color: white;
  text-shadow: 1px 1px 3px black; }

.badge-secondary {
  background-color: #fa5151; }

.badge-primary {
  background-color: #468f02; }

/* -----------cajas de flyer----------- */
.imgFlyerResponsive {
  display: none; }

.mainOfertas_flyer--1 {
  grid-area: publi;
  padding: 20px;
  background-color: rgba(0, 71, 80, 0.4);
  align-items: end; }
  .mainOfertas_flyer--1 span {
    margin: 10px; }
  .mainOfertas_flyer--1 p {
    padding: 10px; }

.mainOfertas__txtFlyer--A {
  font-size: 3em; }

.mainOfertas_flyer--2 {
  grid-area: publi2;
  padding: 20px;
  text-align: right;
  background-color: rgba(80, 0, 0, 0.4); }
  .mainOfertas_flyer--2 span {
    margin: 10px; }
  .mainOfertas_flyer--2 p {
    padding: 10px; }

.mainOfertas__imgFlyerA {
  grid-area: publi;
  width: 100%;
  display: block;
  margin: auto; }

.mainOfertas__imgFlyerB {
  grid-area: publi2;
  width: 100%;
  display: block;
  margin: auto; }

/* -----------cajas de Producto----------- */
.mainOfertas__prod--1 {
  place-self: center center;
  grid-area: productos;
  text-align: center;
  border: solid 1px lightgrey;
  width: 60%;
  background: white;
  background: radial-gradient(circle, white 0%, #faf0e3 50%, white 100%, #f7e6cf 100%); }
  .mainOfertas__prod--1 p {
    margin-bottom: 5px; }
  .mainOfertas__prod--1:hover, .mainOfertas__prod--2:hover {
    transform: translate(10px, -10px);
    box-shadow: 1px 1px 15px grey;
    transition: all 0.1s; }
  .mainOfertas__prod--1 img {
    width: 200px; }

.mainOfertas__prod--2 {
  place-self: center center;
  grid-area: productos2;
  text-align: center;
  border: solid 1px lightgrey;
  width: 60%;
  background: white;
  background: radial-gradient(circle, white 0%, #faf0e3 50%, white 100%, #f7e6cf 100%); }
  .mainOfertas__prod--2 p {
    margin-bottom: 5px; }
  .mainOfertas__prod--2 img {
    width: 200px; }

/* -----------cajas de Descripcion----------- */
.mainOfertas__descrip--1 {
  grid-area: descrip;
  align-self: center; }
  .mainOfertas__descrip--1 p {
    line-height: 2em;
    padding: 30px;
    font-size: 1em; }

.mainOfertas__descrip--2 {
  grid-area: descrip2;
  align-self: center; }
  .mainOfertas__descrip--2 p {
    line-height: 2em;
    padding: 30px;
    font-size: 1em; }

/* ---------------------------Media query ---------------------------*/
@media only screen and (max-width: 1050px) {
  .mainOfertas__grilla {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "publi publi publi" "productos descrip descrip" "publi2 publi2 publi2" "productos2 descrip2 descrip2"; }
  .mainOfertas__imgFlyerA, .mainOfertas__imgFlyerB {
    display: block; }
  .imgFlyerResponsive {
    display: none; }
  .mainOfertas__prod--1, .mainOfertas__prod--2 {
    width: 100%; }
  .mainOfertas_flyer--1 {
    background-color: rgba(0, 71, 80, 0.4); }
  .mainOfertas_flyer--2 {
    background-color: rgba(80, 0, 0, 0.233); } }

@media only screen and (max-width: 750px) {
  .mainOfertas__imgFlyerA, .mainOfertas__imgFlyerB {
    display: none; }
  .imgFlyerResponsive {
    display: block; }
  .mainOfertas__grilla {
    grid-template-columns: 1fr;
    grid-template-areas: "publi" "productos" "descrip" "publi2" "productos2 " "descrip2";
    margin: 0 10px;
    padding: 10px 0; }
  .mainOfertas__prod--1, .mainOfertas__prod--2 {
    width: 100%; }
  .mainOfertas_flyer--1, .mainOfertas_flyer--2 {
    padding: 0; } }

.mainContacto__titulos {
  font-weight: bold;
  margin-bottom: 0px;
  text-shadow: 1px 1px 2px black;
  font-size: 1.1em; }

.mainContacto__label {
  font-weight: bold;
  line-height: 1em;
  padding: 10px; }

.mainContacto__boton {
  float: right;
  width: 50%;
  margin-top: 5px;
  padding: 5px 10px;
  background: #3861d3;
  background: linear-gradient(180deg, #3861d3 0%, #6180d4 100%);
  color: white;
  border-radius: 5px; }
  .mainContacto__boton:hover {
    background: #3861d3;
    background: linear-gradient(0deg, #3861d3 0%, #6180d4 100%); }

.mainContacto .mainHome__divDestacadas div:hover {
  cursor: pointer;
  transform: initial;
  transition: initial; }

.mainContacto .mainContacto__divContacto {
  background-image: url(../imagenes/copos.png);
  background-repeat: no-repeat;
  background-size: 100%; }

.mainContacto .mainHome__divDestacadas .imgdes1:hover {
  transform: scale(1.1, 1.1);
  transition: transform 1s; }

.mainContacto .mainHome__divDestacadas .imgdes2:hover {
  transform: rotateX(360deg);
  transition: transform 1s; }

.mainContacto .mainHome__divDestacadas .imgdes3:hover {
  transform: rotateY(360deg);
  transition: transform 1s; }

.mainContacto .mainHome__divDestacadas .imgdes4:hover {
  transform: rotateX(360deg);
  transition: transform 1s; }

.footer {
  color: white;
  background: #1a1919; }
  .footer .footer__logo {
    width: 10em; }
  .footer .footer__tituFooter {
    text-shadow: 1px 1px 2px white;
    font-family: "open sans"; }
  .footer .footer__mp {
    width: 150px;
    background-color: rgba(169, 169, 169, 0.425);
    border-radius: 5px;
    margin-top: 10px; }
  .footer .footer__sobre img {
    width: 6em;
    padding: 1px 10px;
    background-color: rgba(169, 169, 169, 0.425); }

/*--------------------------- Media query ---------------------------*/
.facebook {
  background-image: url(../imagenes/facebook-icon.png);
  background-size: 100%;
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  border-radius: 8px;
  list-style-type: none; }

.whatsapp {
  background-image: url(../imagenes/whatsapp-icon.png);
  background-size: 100%;
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  border-radius: 8px;
  list-style-type: none; }

.instagram {
  background-image: url(../imagenes/instagram-icon.png);
  background-size: 100%;
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  border-radius: 8px;
  list-style-type: none; }

.soloProductos__section {
  padding: 2em;
  height: 600px; }
  .soloProductos__section a {
    text-decoration: none;
    color: black; }
  .soloProductos__section div div {
    background: rgba(255, 255, 255, 0.75); }
  .soloProductos__section div div:hover {
    background: transparent;
    transition: 1s; }
    .soloProductos__section div div:hover p {
      display: none; }

.soloProductos__h3 {
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #a52a2a;
  color: #a52a2a;
  padding-bottom: 30px; }

.soloProductos__img, .soloProductos__img--pechera {
  background-image: url(../imagenes/presentacionSilla.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 100%; }

.soloProductos__img--pechera {
  background-image: url(../imagenes/presentacionPechera.jpg); }

@media only screen and (max-width: 1200px) {
  .soloProductos__section {
    height: 500px; } }

@media only screen and (max-width: 992px) {
  .soloProductos__section {
    height: 400px; } }

@media only screen and (max-width: 768px) {
  .soloProductos__section {
    height: 300px; } }

@media only screen and (max-width: 576px) {
  .soloProductos__section {
    height: 250px; } }

.body404 {
  background: lightgray; }

.body404__error {
  font-size: 4em;
  font-weight: bold;
  text-shadow: 1px 1px 1px grey; }

.body404__p1 {
  font-size: 2em; }

.body404__p2 {
  text-align: end;
  font-size: 1.5em; }
  .body404__p2 a {
    text-decoration: none;
    color: green;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold; }
    .body404__p2 a:hover {
      cursor: pointer;
      color: green; }

.colores span {
  display: inline-block;
  margin-left: 5px;
  width: 20px;
  height: 20px; }

.colores span:first-child {
  background: black; }

.colores span:nth-child(2) {
  background: red; }

.colores span:nth-child(3) {
  background: violet; }

.colores span:nth-child(4) {
  background: blue; }

.colores span:last-child {
  background: green; }

.boton-lisa {
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  background: linear-gradient(to top, #920101, #bb4141);
  font-weight: bold;
  color: white;
  font-weight: bold; }

.boton-lisa:hover {
  background: linear-gradient(to top, #646363, #030303); }
