.header{
    width: 100%;
    background:rgb(26, 25, 25);
  
    .header__logo  {
        padding-top: 20px;
        width: 30%;
        display: block;
        margin: auto;
    }
    h1 {
    font-size: 1.5em;
    padding: 10px 20px;
    color:$tituloLogo; 
    text-align: center;
    text-shadow: 1px 1px 3px $tituloLogo;
    }
    .header__menu  {   
        background: rgb(125,105,79);
        background: linear-gradient(180deg,rgba(255,215,162,1)  0%, rgba(125,105,79,1) 100%);
        margin:auto;
            li{
                padding: 5px 10px;
                transition: background-color 0.7s;
                &:hover{
                    background-color: rgba(148, 147, 148, 0.397);
                    border-radius: 5px;
                }
            }
            
            a{
                text-decoration: none;
                color: $txtMenu;
                text-shadow: 1px 1px 3px lightblue;
                font-weight: bold;
                padding: 10px;
                font-family: "open sans";
                text-transform: uppercase;
                &:hover{
                    color: $txtMenu;  
                }
            }
            
        .header__dropdown{
            background: rgb(125,105,79);
            background: linear-gradient(180deg,rgba(255,215,162,1)  0%, rgba(125,105,79,1) 100%);
            li{
                a:hover{
                    background-color: initial;
                    border-radius: 5px;
            
                }
            }
        }
    }
}

@media only screen and (max-width: 992px){
    .header {
        .header__logo {
        width: 50%;
        }
        h1{
            padding: 10px 20px;
        }
        
    }
}
@media only screen and (max-width: 576px){
    .header{
        .header__logo {
        width: 65%;
        }
        h1{
           font-size: 1em;
            padding: 10px 20px; 
        }
    }
}