.mainFucsia__h3{
    text-transform: uppercase;
    text-shadow: 1px 1px 2px $titulos;
    color: $titulos;
    padding-bottom: 30px;    
}
.mainFucsia__section{
    padding: 2em;
} 
 .mainFucsia__imgs img{
     max-width: 300px;
    
}
.colores span {
	display:inline-block;
	margin-left: 5px;
	width: 20px;
	height: 20px;
}
.colores span:first-child{
	background: black;

}
.colores span:nth-child(2){
	background: red;
	
}.colores span:nth-child(3){
	background: violet;
	
}.colores span:nth-child(4){
	background: blue;
	
}
.colores span:last-child{
	background: green;
}
.boton-lisa {
	padding: 20px;
	margin: 20px 0;
	border-radius: 10px;
	background: linear-gradient(to top,rgb(146, 1, 1), #bb4141 ,);
	font-weight: bold;
    color: white;
    font-weight: bold;

}

.boton-lisa:hover{
	background: linear-gradient(to top, rgb(100, 99, 99) ,rgb(3, 3, 3));
}


@media only screen and (max-width: 1200px) {
    .soloProductos__section{
       height: 500px;
    }
}
@media only screen and (max-width: 992px) {
    .soloProductos__section{
       height: 400px;
    }
}    
@media only screen and (max-width: 768px) {
    .soloProductos__section{
       height: 300px;
    }
}    
@media only screen and (max-width: 576px) {
    .soloProductos__section{
       height: 250px;
    }
}       