.mainContacto__titulos{
     font-weight: bold;
     margin-bottom: 0px;
     text-shadow: 1px 1px 2px black;
     font-size: 1.1em;
}

.mainContacto__label{
    font-weight: bold;
    line-height: 1em;
    padding: 10px;
}
.mainContacto__boton{
    float: right;
    width: 50%;
    margin-top: 5px;
    padding: 5px 10px;
    background: rgb(56, 97, 211);
    background: linear-gradient(180deg, rgba(56, 97, 211,1) 0%, rgb(97, 128, 212) 100%);
    color: white;
    border-radius: 5px;
    &:hover{
        background: rgb(56, 97, 211);
        background: linear-gradient(0deg, rgba(56, 97, 211,1) 0%, rgb(97, 128, 212) 100%);

    }
}
.mainContacto{
    .mainHome__divDestacadas div:hover{
        cursor: pointer;
        transform: initial;
        transition: initial; 
    }
    .mainContacto__divContacto{
        background-image: url(../imagenes/copos.png);
        background-repeat: no-repeat;
        background-size: 100%;
        
       
    }
}

$animaciones: (
    imgdes1:scale(1.1,1.1),
    imgdes2:rotateX(360deg),
     imgdes3:rotateY(360deg),
      imgdes4:rotateX(360deg));

@each $clase,$efecto in $animaciones{
    .mainContacto{
        .mainHome__divDestacadas{
            .#{$clase}:hover{
            transform: $efecto;
            transition: transform 1s; 
            } 
        }
    }
    
}