.mainProd {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(250,240,227,1) 50%, rgba(255,255,255,1) 100%, rgba(247,230,207,1) 100%);

    h3{
        padding:20px;
        color: $titulos;
        
    }

    .mainProd__section{
        margin:20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        

        .mainProd__silla{
            margin-top: 2em;
            padding-top: 1em;
            position: relative;
            width: 300px;
            height: 400px;
            background: rgb(48, 48, 48);
            overflow:hidden;
            border-radius: 20px;
            box-shadow: 1px 1px 30px grey;
            &::before{
                content: "";
                background-color: white;
                position: absolute;
                transition: 1s;
                top: -70%;
                left: -10%;
                width: 120%;
                height: 120%;
                transform: skewY(-20deg);
            }
            
            &:hover .boton{
                top:0;
	            transition: 1s;
            }
            &:hover .mainProd__imgbox{
                width: 100%;
                height: 50%;
                transition: 1s;
            }
            &:hover::before{
                transform: skewY(30deg);
            	top: -80%;
            }
        }
        .mainProd__pechera{
            @extend .mainProd__silla

        }
        .mainProd__imgbox{
            width: 100%;
            height: 60%;
            position: relative;
        }
        .mainProd__info{
            z-index: 20;
            position: relative;
            display: flex;
            flex-direction: column;
            color: white;
            align-items: center;
            text-align: center;
            font-weight: bold;
            a{
                border-radius: 30px;
                padding: 10px 30px;
                background-color: rgb(224, 64, 64);
                color: white;
                text-transform: uppercase;
                text-decoration: none;
                text-shadow: 1px 1px 4px black;
                margin: auto;
                position: relative;
                top: 200px;
            }
        }

    }
    
}

@for $nn from 1 to 11{
    .mainProd__silla{
        .mainProd__imgbox{
        .div#{$nn} {
            width: 100%;
            height: 100%;
            position: relative;
            background-image: url(../imagenes/silla#{$nn}.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    }
    
}

@for $nn from 1 to 5{
    
        .mainProd__imgbox{
        .divP#{$nn} {
            width: 100%;
            height: 100%;
            position: relative;
            background-image: url(../imagenes/pechera#{$nn}.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

        }
    }
    
    
}

