$txtHome:#3a3939;
$txtMenu:#1b4e10;
$gris:#333232;
$verdeClaro:#70d26b;
$verdeOscuro: #1b4e10;
$titulos: #a52a2a;
$tituloLogo:#70d26b;
$orange: #ffd7a2;


@import "_reset";
@import "_header";
@import "_mainHome";
@import "_mainQuienesSomos";
@import "_mainProductos";
@import "_mainOfertas";
@import "_mainContacto";
@import "_footer";
@import "_soloProductos";
@import "_404";
@import "_individualSillas";